name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run SVM model
      run: |
        python model_svm.py

    - name: Run Logistic model
      run: |
        python model_logistic.py

    - name: Run Naive Bayes model
      run: |
        python model_nb.py
